@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollingstyle {
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
 
    &::-webkit-scrollbar {
       width:8px;}
  }

  .scrollingNewstyle{
    &::-webkit-scrollbar {
       width:8px;}
    &::-webkit-scrollbar-thumb {
        background: #5906f3; }
    

}

 
:root{
  /* Review Pannel */
  /* --color-LogoText:#1b3258;
  --color-SideBar: #F8F6F4;  
  --color-NavBar: #F8F6F4; 
  --color-NavBarText: #1b3258; 
  --color-iconColor: #374151;    
  --color-iconHover: #1b3258;
  --color-sidbarText:#1b3258;
  --color-sidbarHead: #374151;
  --color-background: #e0e3e9; 
  --color-SelectedNav:  #cbd5e1;  */
  
/* Review Panel */
--color-LogoText: #92410b;
  --color-SideBar: #80828ac5;
  --color-NavBar: #80828ac5;
  --color-NavBarText: #336e7b;
  --color-iconColor: #94390b;
  --color-iconHover: #fff;
  --color-sidbarText: #ffffff;
  --color-sidbarHead: #95a5a6;
  --color-background: #3634346b;
  --color-SelectedNav: #f7f7f744;
  
  /* Reception Pannel */
  --color-ReceptionLogoText:#ee7203;
  --color-ReceptionSideBar: #f1f2f7;  
  --color-ReceptionNavBar: #f1f2f7; 
  --color-ReceptionNavBarText: #080808; 
  --color-ReceptioniconColor: #374151;    
  --color-ReceptioniconHover: #374151;
  --color-ReceptionsidbarText:#374151;
  --color-ReceptionsidbarHead: #374151;
  --color-Receptionbackground: #82948721; 
  --color-ReceptionSelectedNav:  #cbd5e1; 

 


}

