@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollingstyle {
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
 
    &::-webkit-scrollbar {
       width:8px;}
  }

  @media print {
    body * {
      visibility: hidden;
    }
  
    #print-table,
    #print-table * {
      visibility: visible;
    }
  
    #print-table {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

