@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollingstyle {
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
 
    &::-webkit-scrollbar {
       width:8px;}
  }

 
:root{
  /* Review Pannel */
  --color-LogoText:#1b3258;
  --color-SideBar: #F8F6F4;  
  --color-NavBar: #F8F6F4; 
  --color-NavBarText: #1b3258; 
  --color-iconColor: #374151;    
  --color-iconHover: #1b3258;
  --color-sidbarText:#1b3258;
  --color-sidbarHead: #374151;
  --color-background: #f3f4f6; 
  --color-SelectedNav:  #cbd5e1; 
  
  
  
  
  
  
  /* Reception Pannel */
  --color-ReceptionLogoText:#ee7203;
  --color-ReceptionSideBar: #f1f2f7;  
  --color-ReceptionNavBar: #f1f2f7; 
  --color-ReceptionNavBarText: #080808; 
  --color-ReceptioniconColor: #374151;    
  --color-ReceptioniconHover: #374151;
  --color-ReceptionsidbarText:#374151;
  --color-ReceptionsidbarHead: #374151;
  --color-Receptionbackground: #e0e4ee; 
  --color-ReceptionSelectedNav:  #cbd5e1; 
  

}

